.container{
  /* background-color: grey; */
  height: 750px;
  /* background-image: url("https://icdn6.digitaltrends.com/image/pexels-photo-392018-2-768x768.jpg" ); */
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}

.example-full-width {
  width: 100%;
}

/* .myApp textarea{
  padding: 20em;   
} */
 
/* #form_id textarea{
  padding: 5em;
/* } 
.card {
margin-right: 20%;
} */
